* {
  box-sizing: border-box;
}
.baner_3 {
  background: url(../../images/Bg3.svg);
  position: relative;
  background-repeat: no-repeat;
  height: 861px;
  padding-top: 20px;
}

.baner_3 .block_h2{
    display: inline-block;
    text-align: center;
    width: 1200px;
    height: 45px;
    filter: drop-shadow(2px 3.464px 3.5px rgba(155,182,190,0.75));
    margin-bottom: 70px;
  }
  .baner_3 .block_h2::before{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 35px solid var(--color_btn_send_message_hover); 
    filter: drop-shadow(2px 3.464px 3.5px rgba(155,182,190,0.75));
    border-right: 35px solid transparent;			
    position: relative;
    top: 60px;
    right: 581px;
  }

  .baner_3 .block_h2 h2{
    margin: 0;
    position: relative;
    bottom: 24px;
    text-align: center;
    background-color: var(--color_btn_send_message_hover);
    padding: 8px;
  }
  .card {
    display: flex;
    margin: 0;
  }
  .article-title_p {
    width: 1200px;
    height: 110px;
    font-size: 14px;
    color: var( --color_p_text);
    font-family: "Arial Narrow";
    text-align: left;
  }
  .article-title_p p {
    margin: 0;
  }
  .article-blox {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .card-body_1{
    width: 280px;
    height: 544px;
    background-color: var( --color_btn_text);
    text-align: center;
    margin-right: 15px;
    padding: 10px;
  }
  .card-body_2{
    width: 280px;
    height: 544px;
    background-color: var( --color_btn_text);
    text-align: center;
    margin-right: 15px;
    padding: 10px;
  }
  .card-body_3{
    width: 280px;
    position: relative;
    height: 544px;
    filter: drop-shadow( 2px 3.464px 4.5px  rgba(155,182,190,0.75));
    background-color: var( --color_btn_text);
    text-align: center;
    margin-right: -10px;
    padding: 10px;
  }
  .card-body_4{
    width: 280px;
    position: relative;
    height: 544px;
    background-color: var( --color_btn_text);
    text-align: center;
    margin: 0px;
    padding: 10px;
  }
   h4.card-title {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: var( --color_h4);
    font-weight: 400;
    font-family: "Roboto-Regular";
    text-align: center;
    margin: 0px 0px 10px 0px;
  }
  .card-text {
    text-align: justify;
    margin: 0px 0px 10px 0px;
  }
   ul.article-ul {
    width: 255px;
    height: 129px;
    font-size: 12px;
    color: var( --color_p_text);
    font-family: "Arial Narrow";
    text-align: left;
    position: relative;
    left: -20px;
    margin: 0px;
  }
   ul.article-ul li::marker{
    color: var(--color_p_text);
    font-size: 20px;
  }
 
  a.article-btn{
    text-decoration: none;
    background-color: var( --color_btn_text_hover);
    color: var( --color_btn_text);
    position: relative;
    top: 20px;
    padding: 10px;
  }
  a.ar_btn_1 {
    position: relative;
    top: 160px;
  }
  a.ar_btn_2 {
    position: relative;
    top: 37px;
  }
    a.ar_btn_3 {
      position: relative;
      top: 100px;
    }
    a.ar_btn_4 {
      position: relative;
      top: 47px;
    }
  .box-card-body_3::before{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 35px solid var(--color_btn_text); 
    border-right: 35px solid transparent;			
    position: relative;
    top: 291px;
    right: 270.5px;
    filter: drop-shadow( 2px 3.464px  rgba(155,182,190,0.75));
  }
