 * {
  box-sizing: border-box;
 }

main .baner_2 {
    background: url(../../images/Bg1-1.svg);
    height: 291px;
    background-color: var(--color_btn_read_more);
    padding-top: 25px;
}
.block_main_h2 {
    display: inline-block;
    width: 1200px;
    height: 45px;
    filter: drop-shadow(2px 3.464px 3.5px rgba(155,182,190,0.75));
    background-color: var(--color_btn_send_message_hover);
    margin-bottom: 30px;
}
.box-h2::before{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 35px solid var(--color_btn_send_message_hover); 
    border-right: 35px solid transparent;			
    position: relative;
    top: 35px;
    right: 12px;
  }
h2 span.sp1-h2 {
    display: block;
    float: left;
    position: relative;
    top: -38px;
}
h2 span.sp2-h2 {
    display: block;
    float: right;
    position: relative;
    top: -38px;
}
.ti_1 {
    color: var( --color_btn_order_now_hover);
}
.ti_2 {
    color: var( --color_btn_order_now_hover);
}
.ti_3 {
    color: var( --color_btn_order_now_hover);
}
.box1-main p {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  position: relative;
  top: -14px;
  width: 310px;
  height: 35px;
}
.box1-main-1 {
font-size: 48px;
color: var( --color_btn_text);
font-weight: 400;
font-family: "Roboto-Regular";
}
.box1-main-2 {
font-size: 28px;
line-height: 45px;
color: var( --color_btn_text);
font-weight: 400;
font-family: "Roboto-Regular";
}

.box2-main::before{
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 35px solid var( --color_btn_order_now); 
  border-right: 35px solid transparent;			
  position: relative;
  top: 41px;
  right: -1px;
}
.box2-main p {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  color: var( --color_btn_text);
  background-color: var( --color_btn_order_now);
  font-weight: 400;
  font-family: "Roboto-Regular";
  position: relative;
  top: -13px;
  right: -1px;
  width: 310px;
  height: 34px;
  margin: 0;
}
.arrow {
    width: 20px;
    display: block;
    float: right;
    position: relative;
    top: -49px;
    right: 15px;
    opacity: 0.980;
}
h2 {
    font-size: 28px;
    text-transform: uppercase;
    color: var(--color_h2);
    font-weight: 700;
    font-family: "Roboto-Bold";
    text-align: left;
    margin: 0 auto;
    padding: 5px;
}
.btn-main-1{
    display: flex;
    font-family: Roboto-Regular;
    text-decoration: none;
    font-size: 18px;
    color: var(--color_btn_text);
    font-weight: 400;
    margin: 0 auto;
  }
  .btn_p_1 {
    display: inline-block;
    padding-bottom: 8px;
  }
  .btn_p_2 {
    display: inline-block;
    padding-bottom: 8px;
  }
  .btn_p_3 {
    display: inline-block;
    padding-bottom: 8px;
  }
  .btn_p_4 {
    display: inline-block;
    padding-bottom: 8px;
  }
  .btn_opt_1 {
    color: var( --color_btn_text_hover);
  }
  .btn_opt_2 {
    color: var( --color_btn_text_hover);
  }
  .btn_opt_3 {
    color: var( --color_btn_text_hover);
  }
  .btn_opt_4 {
    color: var( --color_btn_text_hover);
  }
  #paper {
    width: 310px;
    height: 35px;
    margin-bottom: 20px;
  }
  #level {
    width: 310px;
    height: 35px;
  }
  #spacing {
    width: 310px;
    height: 35px;
  }
  #urgency {
    width: 310px;
    height: 35px;
  }


