.baner_5 {
    background: url(../../images/Bg3.svg);
    position: relative;
    background-repeat: no-repeat;
    background-position-y: bottom;
    height: 717px;
    padding-top: 20px;
  }
.ban_ul_5 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
  }

    .div_ban_5_h2 {
    display: inline-block;
    text-align: center;
    width: 1200px;
    height: 45px;
    filter: drop-shadow(2px 3.464px 3.5px rgba(155,182,190,0.75));
    margin-bottom: 70px;
  }
    .div_ban_5_h2::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 35px solid var(--color_btn_send_message_hover); 
    filter: drop-shadow(2px 3.464px 3.5px rgba(155,182,190,0.75));
    border-right: 35px solid transparent;			
    position: relative;
    top: 60px;
    right: 582px;
  }
  .baner_5 .div_ban_5_h2 h2 {
    margin: 0;
    position: relative;
    bottom: 24px;
    text-align: center;
    background-color: var(--color_btn_send_message_hover);
    padding: 8px;
  }
  /* .block_2_ba_5 div.box_2_ba_5 {
    width: 459px;
  } */
  .box_2_ba_5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    left: 725px;
    top: -176px;
    width: 660px;
    height: 415px;
    filter: drop-shadow(2px 3.464px 3.5px rgba(167,192,200,0.75));
    background-color: #ffffff;

}
.par_img {
    /* width: 370px; */
    height: 135px;
    font-size: 18px;
    color: #000000;
    font-family: "Arial Narrow";
    text-align: left;
    position: relative;
    top: 30px;
}





.block_3_ba_5 {
 float: right;
}
.line_1_ba_5 {
  width: 666px;
height: 2px;
background-color: #caddea;
}
.line_2_ba_5 {
  width: 666px;
height: 2px;
background-color: #caddea;
}
.line_3_ba_5 {
  width: 666px;
height: 2px;
background-color: #caddea;
}
.line_4_ba_5 {
  width: 666px;
height: 2px;
background-color: #caddea;
}
.line_5_ba_5 {
  width: 666px;
height: 2px;
background-color: #caddea;
}
.line_6_ba_5 {
  width: 666px;
  height: 2px;
  background-color: #000000;
}
.card_6_ba_5 {
  display: inline;
  position: relative;
  top: -394px;
  color: #000000;
  font-size: 50px;
  margin: 0;
}



  













.ul_ban_6_5 {
  width: 705px;
height: 55px;
display: flex;
display: flex;
align-items: center;
position: relative;
top: -422px;
}







  a {
    text-decoration: none;
  }
  .baner_5_btn {
    font-size: 26px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto-Regular";
    text-align: center;
    margin: 0;
  }
  .ban_5_btn_1 {
    text-decoration: none;
    background-color: var( --color_btn_order_now);
    color: var( --color_btn_text);
    position: relative;
    width: 310px;
    height: 51px;
    display: inline-block;
    bottom: -290px;
    text-align: center;
    padding: 0px;
    margin: 0 auto;
  }
  .ban_5_btn_1::before{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 35px solid var( --color_btn_order_now); 
    border-right: 35px solid transparent;			
    position: relative;
    top: 35px;
    right: 64px;
  }