*{
    box-sizing: border-box;
}
.form-range {
    width: 1200px;
    height: 1.5px;
    background-color: var( --color_btn_send_message_hover);
    margin: 0;
    position: relative;
    top: 240px;
    left: 5px;
}
.nav_foot_p {
    display: inline-block;
    position: relative;
    left: 490px;
    top: 270px;
    font-size: 16px;
    color: var( --color_btn_text);
    font-family: "Arial Narrow";
    margin: 0;
}
footer {
    background-image: url(../../images/Bg1.svg);
    background-repeat: no-repeat;
    padding-bottom: 10px;
    position: relative;
    height: 375px;
    background-color: var( --color_main_2);
}
footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    position: relative;
    top: 260px;
}
a {
    color: var( --color_btn_text);
}
.ul_footer {
    width: 1200px;
}
footer ul li a {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 19px;
    padding-left: 14px;
    text-transform: uppercase;
    font-size: 15px;
    /* letter-spacing: 1px; */
    line-height: 42px;
    color: var(color_btn_text);
    font-weight: 400;
    font-family: Roboto-Regular;
    text-decoration: none;
}
footer .border_li_foot::after{
    content: '';
    border: 2px solid var(--color_btn_send_message_hover);
    border-radius: 3px;
    position: relative;
  }
footer ul li a:hover {
    background-color: var(color_btn_send_message_hover);
    color: var(color_btn_text_hover);
    box-shadow: -10px 0px 0px var(--color_btn_send_message_hover),
    10px 0px 0px var(--color_btn_send_message_hover);
}
.artical-footer {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
    position: relative;
    left: -27px;
}
.div_ul_footer1 {
    width: 200px;
    height: 193px;
    font-size: 15px;
    color: var( --color_btn_send_message_hover);
    font-family: "Arial Narrow";
    text-align: left;
    padding: 0;
}
.div_ul_footer2 {
    width: 170px;
    height: 193px;
    font-size: 15px;
    color: var( --color_btn_send_message_hover);
    font-family: "Arial Narrow";
    text-align: left;
    padding: 0;  
}
.div_ul_footer3 {
    width: 190px;
    height: 193px;
    font-size: 15px;
    color: var( --color_btn_send_message_hover);
    font-family: "Arial Narrow";
    text-align: left;
    padding: 0;
}
.div_ul_footer4 {
    width: 200px;
    height: 193px;
    font-size: 15px;
    color: var( --color_btn_send_message_hover);
    font-family: "Arial Narrow";
    text-align: left;
    padding: 0;
}
.div_ul_footer5 {
    width: 170px;
    height: 193px;
    font-size: 15px;
    color: var( --color_btn_send_message_hover);
    font-family: "Arial Narrow";
    text-align: left;
    padding: 0;
}
.div_ul_footer6 {
    width: 200px;
    height: 193px;
    font-size: 15px;
    color: var( --color_btn_send_message_hover);
    font-family: "Arial Narrow";
    text-align: left;
    padding: 0;
}